.header {
  height: 60px;
}

/* 头部容器 */
.header .content {
  justify-content: space-between;
  height: 60px;
}

/* logo图片 */
.header .content .logo img {
  height: 60px;
}

.header .content .search {
  align-items: center;
  width: 600px;
}

/* 搜索框 */
.header .content .search .search-box {
  width: 100%;
  height: 50px;
  border: 2px solid var(--my-in);
}

.header .content .search .search-box input {
  width: 100%;
  padding-left: 10px;
  outline: none;
  border: none;
}

.header .content .search .search-box button {
  width: 100px;
  border: 0;
  background-color: var(--my-in);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* 用户信息 */
.header .content .user {
  position: relative;
  align-items: center;
}

/* 地理位置 */
.header .content .user .gps {
  margin-right: 30px;
}

/* 登录入口 */
.header .content .user .login {
  text-decoration: underline;
}

/* 登录成功用户展示模块 */
.header .user .user-show {
  display: flex;
  align-items: center;
}

/* 头像 */
.header .user .user-show img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
}

/* 用户名 */
.header .user .user-show i {
  color: var(--my-in);
}

/* 退出登录模块 */
.header .user .user-show a {
  text-decoration: underline;
  margin-left: 20px;
}

.header .user .user-show a:hover {
  color: #F3511D;
}