.header {
  height: 60px;
  background-color: var(--my-bg2);
}

/* 头部容器 */
.header .content {
  justify-content: space-between;
  height: 60px;
}

/* logo图片 */
.header .content .logo img {
  height: 60px;
}

.header .content .search {
  align-items: center;
  width: 600px;
}

/* 搜索框 */
.header .content .search .search-box {
  width: 100%;
  height: 50px;
  border: 2px solid var(--my-in);
}

.header .content .search .search-box input {
  width: 100%;
  padding-left: 10px;
  outline: none;
  border: none;
}

.header .content .search .search-box button {
  width: 100px;
  border: 0;
  background-color: var(--my-in);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* 用户信息 */
.header .content .user {
  position: relative;
  align-items: center;
}

/* 地理位置 */
.header .content .user .gps {
  margin-right: 30px;
}

/* 登录入口 */
.header .content .user .login {
  text-decoration: underline;
}

/* 登录成功用户展示模块 */
.header .user .user-show {
  display: flex;
  align-items: center;
}

/* 头像 */
.header .user .user-show img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
}

/* 用户名 */
.header .user .user-show i {
  color: var(--my-in);
}

/* 退出登录模块 */
.header .user .user-show a {
  text-decoration: underline;
  margin-left: 20px;
}

.header .user .user-show a:hover {
  color: #F3511D;
}

/* 轮播图样式 */
.lbt ul {
  padding: 50px 0;
}

.lbt ul li {
  width: 600px;
}

.lbt img {
  width: 100%;
}

/* 轮播图通栏背景颜色 */
.lbt-background {
  height: 370px;
  background-color: var(--my-w);
}

/* 商品列表 */

.shop-background {
  background-color: var(--my-bg2);
  padding: 40px 0;
}

/* flex布局 换行 */
.shop-list {
  display: flex;
  flex-wrap: wrap;
  width: 1140px;
}

/* 商品列表 */
.shop-list .shop-item {
  position: relative;
  width: 269px;
  height: 417px;
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: all 0.6s;
  cursor: pointer;
  border: 1px solid transparent;
}

.shop-list .shop-item:hover {
  border: 1px solid var(--my-in);
  background-color: rgb(255, 249, 245);
}

/* 商品图 */
.shop-list .shop-item .img img {
  width: 100%;
}

.shop-list .shop-item .tittle {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.shop-list .shop-item .price {
  color: var(--my-in);
  font-size: 14px;
}

.shop-list .shop-item .price b {
  font-size: 20px;
}

.shop-list .shop-item .shop-detail {
  display: flex;
  margin-top: 18px;
}

.shop-list .shop-item .shop-detail .people-location span {
  display: inline-block;
  margin-left: 5px;
  margin-top: 6px;
  font-size: 14px;
  color: #999;
}

.shop-list .shop-item .shop-label {
  height: 22px;
  margin-top: 5px;
}

.shop-list .shop-item .shop-label span {
  padding: 2px;
  border: 1px solid rgb(255, 168, 128);
  font-size: 10px;
  border-radius: 3px;
  color: rgb(255, 168, 128);
}

.shop-list .shop-item .shopname-detail {
  display: flex;
  align-items: center;
  margin-top: 5px;
  height: 24px;
}

.shop-list .shop-item .shopname-detail .image {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.shop-list .shop-item .shopname-detail .image img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
}

.shop-list .shop-item .shop-name {
  font-size: 14px;
  cursor: pointer;
  color: #787878;
}

.shop-list .shop-item .shop-name:hover {
  color: rgb(255, 168, 128);
}

.shop-list .shop-item .index {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 15px;
}

/* 侧边导航栏 */
.toolkit {
  position: fixed;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  z-index: 999;
  background-color: #F7F9FA;
  box-shadow: -2px 0 30px 2px rgba(97, 105, 119, 0.18);
  border-radius: 18px 0 0 18px;
  width: 60px;
}

.toolkit .toolkit-list {
  padding: 26px 0;
}

.toolkit .toolkit-list>div {
  width: 100%;
  height: 47px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.toolkit .toolkit-list>div:first-child {
  margin: 0;
}

.toolkit .toolkit-list>div i {
  font-size: 30px;
  margin-bottom: 5px;
  color: #000;
}

.toolkit .toolkit-list>div span {
  font-size: 12px;
  color: #333;
}