<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>厚渡之网</title>
  <link rel="shortcut icon" href="../static/images/houdu.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/pre.css">
  <link rel="stylesheet" href="../static/css/index.css">

  <!-- 引入axios js文件 -->
  <script src="../static/lib/axios/axios.js"></script>
  <!-- 引入jQuery js文件 -->
  <script src="../static/lib/jQuery/jquery.js"></script>
  <!-- 引入轮播图 css文件 -->
  <link rel="stylesheet" href="../static/lib/lbt/stackedCards.css">
  <!-- 引入轮播图js文件 -->
  <script src="../static/lib/lbt/stackedCards.min.js"></script>
</head>

<body>
  <!-- 头部 -->

  <div class="header"></div>
  <!-- 引入头部容器 -->
  <script src="../static/js/header.js"></script>
  <!-- 轮播图 -->

  <div class="lbt-background">
    <div class="content lbt">
      <div class="stacked-cards">
        <ul>
          <li><img src="../static/images/lbt_images/1.jpg" alt=""></li>
          <li><img src="../static/images/lbt_images/2.jpg" alt=""></li>
          <li><img src="../static/images/lbt_images/5.jpg" alt=""></li>
          <li><img src="../static/images/lbt_images/3.jpg" alt=""></li>
          <li><img src="../static/images/lbt_images/6.jpg" alt=""></li>
          <li><img src="../static/images/lbt_images/4.jpg" alt=""></li>
          <li><img src="../static/images/lbt_images/7.jpg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
  <script>
    var stackedCard = new stackedCards({
      selector: '.stacked-cards',
      layout: "slide",
      transformOrigin: "center",
    });

    stackedCard.init();
  </script>
  <!-- 商品列表 -->
  <script>
    function getShopDetail(gid) {
      // location.href = './shopInfo.html?gid=' + gid;
      window.open(`./shopInfo.html?gid=` + gid);
    }
  </script>
  <div class="shop-background">
    <div class="content shop-list">
    </div>
  </div>
  <!-- 侧边导航栏 -->
  <div class="toolkit">
  </div>
  <!-- 导入侧边导航栏js文件 -->
  <script src="../static/js/toolkit.js"></script>
  <!-- 导入js文件 -->
  <script src="../static/js/index.js"></script>
</body>

</html>