<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>潮云电商</title>
  <link rel="shortcut icon" href="../static/images/houdu.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/pre.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <!-- 引入axios -->
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.min.js"></script>
  <!-- 生成二维码 js文件 -->
  <script src="../static/lib/qrcode.min.js"></script>
</head>

<body>
  <!-- 头部 -->
  <div class="header">
    <!-- 容器 -->
    <div class="content flex">
      <!-- 网站logo图片 -->
      <div class="logo">
        <img src="../static/images/logo.png" alt="潮云电商">
      </div>
      <!-- 搜索框 -->
      <div class="search flex">
        <div class="search-box flex">
          <input type="text" name="" id="">
          <button class="iconfont">&#xe603;</button>
        </div>
      </div>
      <!-- 登录、注册以及用户名显示及定位 -->
      <div class="user flex">
        <b class="gps">河南省开封市</b>
        <span class="login">请登录</span>
        <div class="erweima no-show">
          <h3>扫码登录</h3>
          <div id="ewm"></div>
        </div>
        <div>
          <img src="" alt="">
          <span class="user-name"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- 导入js文件 -->
  <script src="./js/index.js"></script>
</body>

</html>