<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="shortcut icon" href="../static/images/houdu.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/pre.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/shopInfo.css">

  <!-- 引入jQuery js文件 -->
  <script src="../static/lib/jQuery/jquery.js"></script>
</head>

<body>
  <!-- 网页头部容器 -->
  <div class="header"></div>
  <!-- 引入头部容器 -->
  <script src="../static/js/header.js"></script>

  <!-- 商品详细信息容器 -->
  <div class="shop-detail">
    <div class="shopInfo">
      <!-- 卖家店铺信息栏 -->
      <div class="shop-name">
        <div class="image">
          <img src="" alt="">
        </div>
        <div class="shop-title">
          <div class="title"></div>
          <div class="shop-logo">厚渡</div>
        </div>
        <div class="border"></div>
        <div class="shop-details">
          <div><span class="top">宝贝描述</span><span class="bottom">5.0</span></div>
          <div><span class="top">卖家服务</span><span class="bottom">5.0</span></div>
          <div><span class="top">物流服务</span><span class="bottom">5.0</span></div>
        </div>
        <div class="btn1 btns"><img src="../static/images/service.png"><span>联系客服</span></div>
        <div class="btn2 btns"><span><img src="../static/images/shop.png">进入店铺</span></div>
      </div>
      <!-- 商品详细信息 -->
      <div class="shop-detail-info">
        <div class="shop-detail-info-top">
          <div class="shop-left">
            <div class="good-image padding-show">
              <img src="" alt="">
            </div>
            <div class="good-detail-images">
              <ul>
              </ul>
            </div>
          </div>
          <div class="shop-right">
            <div class="title">【官网】HONOR/荣耀Play6C 手机5G大电池高清护眼大屏22.5W快充新款官方旗舰店正品学生游戏拍照智能安卓手机
            </div>
            <div class="sales"><span>月销 87</span></div>
            <div class="price">￥<span>1099</span><span class="font">起</span></div>
            <div class="address">
              <div class="attr"><span>配送：</span></div>
              <div class="attribute">
                <div class="top"><span class="city"></span><span>至</span>开封市<span>龙亭区</span></div>
                <div class="bottom"><span>快递: 免运费</span>24:00前付款，预计后天送达</div>
              </div>
            </div>
            <!-- 商品的不同属性 -->
            <div class="many-attr">
            </div>
            <div class="buy-or-cart">
              <button class="btn1">立即购买</button>
              <button class="btn2">加入购物车</button>
            </div>
          </div>
        </div>
        <!-- 宝贝详情 -->
        <div class="shop-detail-info-middle">
          <span>宝贝详情</span>
          <div></div>
        </div>
        <!-- 商品详情图 -->
        <div class="shop-detail-info-bottom">
          <div class="image-center">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 侧边导航栏模块 -->
  <div class="toolkit"></div>
  <!-- 导入侧边导航栏js文件 -->
  <script src="../static/js/toolkit.js"></script>
  <!-- 商品收藏成功 -->
  <div class="success-col no-show col">
    <div class="success">成功加入购物车</div>
  </div>
  <div class="default-col no-show col">
    <div class="default">请选择您要的商品信息</div>
  </div>
  <script src="../static/js/shopInfo.js"></script>
</body>

</html>